.menuItemContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: auto;
  width: 325px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgb(208, 241, 208);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menuItemImg {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
}

.menuItemInfo {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 0 8px 0 8px;
}

.menuItemName {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.menuItemDressing {
  font-style: italic;
}

.available {
  color: lightseagreen;
}

.fewLeft {
  color: orange;
}

.notAvailable {
  color: crimson;
}
